@font-face {
    /* Define um nome interno para a fonte personalizada */
    font-family: Arimo;
    /* Indica o caminho do arquivo da fonte*/
    src: url(fonts/Arimo/Arimo-VariableFont_wght.ttf);
}
@font-face {
    /* Define um nome interno para a fonte personalizada */
    font-family: Baskerville;
    /* Indica o caminho do arquivo da fonte*/
    src: url(fonts/Libre_Baskerville/LibreBaskerville-VariableFont_wght.ttf);
}




/* -------------------- INDEX.HTML -------------------- */

/* Comportamento da página inteira */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #EDEDED;
    padding: 0px;
    margin: 0px;
}

* {
    font-family: Arimo;
    line-height: 1.5;
}

/* Texto e links */

h1, h2 {
    font-family: Baskerville;
}

h1 {
    font-size: 26px;
    margin: 2vw 0;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
p {
    font-size: 16px;
}


a {
    margin-right: 2vw;
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #555555;
}

/* Configuração geral dos div flex*/
.flex {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
}
.card {
    width: 35vw;
    padding: 0px;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color: #A69897;
    margin-bottom: 2.5vw;
}
.card h1 {
    margin: 0;
}
.card h1,
.card h2,
.card p {
    text-align: center;
}
.card p {
    margin: 0 2.5vw;
    padding: 0.5vw 0 1vw;
}
.card img {
    width: 35vw;
    border-radius: 15px;
    border-bottom: 1px;
    border-color: #A69897;
}
.linha {
    display: flex;
    justify-content: space-between;
}


/* Navegação */

#navegacao {
    margin: 0px;
    padding: 0px;
    padding: 1vw 10vw;
    justify-content: space-between;
    border-bottom-style: solid;
    border-width: 1px;
    background-color: #EDEDED;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#links {
    justify-content: flex-end;
    align-items: center;
}
#menu {
    display: none;    
}
#menu button {
    font-size: 24px;
    border: none;
}

#logo {
    width: 5vw;
    min-width: 50px;
    margin: 10px 0px;
}


/*--- Hero ---*/

#hero-box {
    justify-content: space-between;
    background-color: #EDEDED;
    border-radius: 0.5vw;
}
/* A partezinha bonitinha entre o texto e a imagem e o background */
#hero-box div {
    padding: 1vw 1.5vw;
}
/* Tamanho da imagem */
#hero-box img {
    width: 27vw;
    border-radius: 0.5vw;
}
#hero-box h1 {
    margin: 0.5vw 0;
}
/* Background do hero */
#hero {
    padding: 10vw 20vw;
    margin: 0px;
    background-image: url(images/herobackground.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#filosofia {
    background-color: #401713;
    padding: 10vw 10vw;
}
#filosofia h1, 
#filosofia h2, 
#filosofia h3,
#filosofia p {
    color: #EDEDED;
}
#filosofia-box {
    margin: 3vw 0 0;
    justify-content: space-between;
}
#filosofia-box div {
    width: 15vw;
}


/* --- Nossos Serviços --- */
/* div principal */
#servicos {
    margin-top: 2.5vw;
    margin-left: 10vw;
    margin-right: 10vw;
}
.servico {
    transition: opacity 0.3s ease-in-out;
}
.servico:hover {
    opacity: 0.75;
}

#feedbacks {
    padding: 5vw 10vw;
    background-color: #E6E5E4;
}
.feedback-box {
    gap: 10vw;
}
.feedback-box div {
    padding: 1vw 1vw;
    width: 20vw;
    background-color: #EDEDED;
    border-style: solid;
    border-radius: 0.5vw;
    border-width: 1px;
    border-color: #DFDCDC;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
}
.feedback-box img {
    width: 5vw;
}

#galeria-amostra {
    width: 80vw;
    margin: 5vw 10vw;
}
#galeria-amostra div {
    justify-content: space-between;
    margin-bottom: 0.1vw;
}
.galeria-amostra-img1 {
    width: 39.9vw;
}
.galeria-amostra-img2 {
    width: 26.5vw;
}
.galeria-amostra-img3 {
    width: 19.8sudo vw;
}

#visita {
    margin: 5vw 20vw;
    padding: 5vw 0;
    background-color: #DFDCDC;
    border-radius: 2vw;
    text-align: center;

    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}
#visita h1 {
    margin: 0;
}
#visita a {
    background-color: #401713;
    color: #EDEDED;
    display: inline-block;
    padding: .5vw 1vw;
    border-radius: 1vw;
    margin-top: 1vw;
}

/* ----- Contato ----- */
/* divzão */
#contato {
    margin: 0px;
    padding: 10px 10vw;
    background-color: #401713;
}
/* Textos */
#contato p {
    color: #EDEDED;
    margin-left: 10px;
    margin-right: 10px;
}
/* Tirar a margem dos que não são "Contato:" */
#contato p {
    margin-top: 0px;
}
/* ícones de instagram, telefone, local */
.ico {
    height: 16px;
}

/* ----- Todos os direitos reservados -----*/

#direitos {
    font-size: 14px;
    text-align: center;
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;
}



#modal {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

#janela {
    background-color: #EDEDED;
    padding: 1vw 2vw 1.5vw;
    width: 30vw;
    border-radius: 0.5vw;
}
#janela img {
    width: 30vw;
}
#close {
    margin-bottom: 1vw;
    float: right;
    border: none;
    background-color: #EDEDED;
}
#modal.aberto {
    display: flex;
}




/* -------------------- VACALO.HTML -------------------- */

/* ----- div da galeria ----- */
/* "Nossos cavalos" */
#galeria {
    justify-content: center;
    padding: 0px;
    margin: 0 10vw;
}
#titlegallery {
    margin: 2.5vw 0vw 2.5vw 10vw;
}
/* tirar margem do texto */
#galeria p {
    margin: 0px;
}
/* Tamanho e margem das imagens que não são unicornios */
.vacalo img {
    width: 35vw;
    margin-right: 0px;
}
/* deixar div do unicornio 
   centralizado e em colunas */
#unicornio {
    flex-direction: column;
    width: 60vw;
    margin: 0vw 10vw 10vw;
}
/* deixar a imagem do unicornio grandoona */
#unicornio img {
    width: 60vw;
    border-radius: 0.5vw;
}



/* ---------- E se a tela for pequena? ---------- */

@media (max-width: 1000px) {
    /* Básicos */
    * {
        font-size: 12px;
    }
    h1 {
        font-size: 20px
    }
    h2 {
        font-size: 18px
    }
    p {
        font-size: 14px;
    }
    .linha {
        flex-direction: column;
    }
    .card,
    .card img {
        width: 80vw;
    }
    /* Menu */
    #menu {
        display: flex;
    }
    #links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        background-color: #EDEDED;

        flex-direction: column;
        align-items: center;
        gap: 2vw;

        padding: 20px 0;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
    }
    #links.aberto {
        display: flex;
    }

    /* ---------- Hero ---------- */
    #hero-box {
        flex-direction: column;
        padding: 2vw;
    }
    #hero-box img {
        width: 73vw;
    }
    #hero {
        padding: 10vw;
    }

    /* ---------- Filosofia ---------- */
    #filosofia-box {
        gap: 10vw;
        margin-top: 15vw;
    }
    #filosofia-box div {
        width: 80vw;
    }

    /* ---------- Serviços ---------- */
    #servicos h1 {
        margin: 1em 0 1em 0;
    }
    .servico {
        margin-bottom: 5vw;
    }

    /* ---------- Feedback ---------- */
    .feedback-box div {
        width: 70vw;
    }
    .feedback-box div {
        padding: 5vw;
    }
    .feedback-box img {
        width: 20vw;
    }

    /* ---------- Visita ---------- */
    #visita {
        margin: 10vw;
        padding: 5vw;
        width: 70vw;
    }
    #visita a {
        padding: 3vw;
    }



    #titlegallery {
        margin: 5vw 0vw 5vw 10vw;
    }
    .vacalo img {
        width: 80vw;
    }
    #unicornio {
        margin: 0vw;
    }
    #unicornio,
    #unicornio img {
        width: 80vw;
    }
    #unicornio h2 {
        font-size: 14px;
    }



    /* ---------- Contatos ---------- */
    #contato-box {
        flex-direction: column;
    }
    #janela, #janela img {
        width: 80vw;
        border-radius: 2vw;
    }
    #janela {
        padding: 5vw;
    }
}