@font-face {
    /* Define um nome interno para a fonte personalizada */
    font-family: Arimo;
    /* Indica o caminho do arquivo da fonte*/
    src: url(Arimo/Arimo-VariableFont_wght.ttf);
}
@font-face {
    /* Define um nome interno para a fonte personalizada */
    font-family: Baskerville;
    /* Indica o caminho do arquivo da fonte*/
    src: url(Libre_Baskerville/LibreBaskerville-VariableFont_wght.ttf);
}




/* -------------------- INDEX.HTML -------------------- */

/* Comportamento da página inteira */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #EDEDED;
    padding: 0px;
    margin: 0px;
}

* {
    font-size: 14px;
    font-family: Arimo;
}

/* Texto e links */

h1, h2 {
    font-family: Baskerville;
}

h1 {
    font-size: 20px;
}

p {
    line-height: 1.5;
}

h2 {
    font-size: 14px;
}

a {
    margin-right: 2vw;
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #555555;
}

/* Configuração geral dos div flex*/
.flex {
    display: flex;
}


/* Navegação */

#navegacao {
    margin: 0px;
    padding: 0px;
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content: space-between;
    border-bottom-style: solid;
    border-width: 1px;
    background-color: #EDEDED;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#links {
    justify-content: flex-end;
    align-items: center;
}

#logo {
    width: 5vw;
    min-width: 50px;
    margin: 10px 0px;
}


/*--- Hero ---*/

#hero {
    justify-content: space-between;
    background-color: #EDEDED;
    border-radius: 5px;
}
/* A partezinha bonitinha entre o texto e a imagem e o background */
#hero div {
    padding: 10px;
}
/* Tamanho da imagem */
#hero img {
    width: 38vw;
    border-radius: 5px;
}
/* texto do hero */
#herotext * {
    align-items: center;
}
/* Background do hero */
#herobackground {
    padding: 2vw;
    padding-left: 10vw;
    padding-right: 10vw;
    margin: 0px;
    background-image: url(images/herobackground.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


/* --- Nossos Serviços --- */
/* div principal */
#servicos {
    margin-top: 2.5vw;
    margin-left: 10vw;
    margin-right: 10vw;
}
/* Cada pequeno div do serviço */
.servico {
    width: 35vw;
    transition: opacity 0.3s ease-in-out;
}
/* O título do serviço */
.servico h1 {
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
}
/* mouse passa pelo servico */
.servico:hover {
    opacity: 0.75;
}
/* Centralizar todo o texto */
.servico h1,
.servico h2,
.servico p {
    text-align: center;
}
/* paragrafo sobre os serviços */
.servico p {
    margin: 0 2.5vw;
    padding-bottom: 1vw;
}
/* Imagens dos serviços */
.servico img {
    width: 35vw;
    border-radius: 15px;
    border-bottom: 1px;
    border-color: #A69897;
}
/* Space para separar as colunas e
   margem pra separar as linhas */
.linhaservico {
    justify-content: space-between;
    margin-bottom: 2.5vw;
}
/* Adicionar borda no div de cada serviço */
.linhaservico div {
    padding: 0px;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color: #A69897;
}


/* ----- Contato ----- */
/* divzão */
#contato {
    margin: 10px 0px 0px 0px;
    padding: 10px 10vw;
    background-color: #401713;
}
/* Textos */
#contato p {
    color: #EDEDED;
    margin-left: 10px;
    margin-right: 10px;
}
/* Tirar a margem dos que não são "Contato:" */
#contato div p {
    margin-top: 0px;
}
/* ícones de instagram, telefone, local */
.ico {
    height: 16px;
}

/* ----- Todos os direitos reservados -----*/

#direitos {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
}



/* -------------------- VACALO.HTML -------------------- */

/* ----- div da galeria ----- */
/* "Nossos cavalos" */
#galeria {
    justify-content: flex-start;
    padding: 0px;
    margin-left: 10vw;
    margin-right: 10vw;
}
#titlegallery {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 2.5vw;
}
/* divs dentro de galeria */
#galeria div {
    padding: 0px;
    margin-bottom: 2vw;
    width: 90vw;
}
/* tirar margem do texto */
#galeria p {
    margin: 0px;
}
/* Tamanho e margem das imagens que não são unicornios */
#galeria div:not(#unicornio) img {
    width: 35vw;
    margin-right: 0px;
}
/* deixar div do unicornio 
   centralizado e em colunas */
#unicornio  {
    align-items: center;
    flex-direction: column;
}
/* deixar a imagem do unicornio grandoona */
#unicornio img {
    width: 60vw;
}



/* E se a tela for pequena? */

@media (max-width: 780px) {
    #hero {
        flex-direction: column;
    }
    #hero img {
        width: 100%;
    }
    .servicosmini {
        flex-direction: column;
    }
    #servicos div div {
        width: 80vw;
    }
    #servicos img {
        width: 80vw;
    }
    * {
        font-size: 12px;
    }
}